body{
	/*background: #000;*/
}
.named {
	font-family: Monospace;
	font-size: 2.5em;
	border-collapse: collapse;
	margin: 2em;
	margin-left: auto;
	margin-right: auto;
}
#qr-reader{
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}
#html5-qrcode-element{
	font-size: 2em;
}
.extras {
	font-size: 0.5em;
	border-collapse: collapse;
}
td {
	padding: 0.4em;
}
tr:nth-child(odd){
	background: lightgray;
}
tr:nth-child(even){
	background: lightyellow;
}
td {
	border: 1px solid blueviolet;
	border-collapse: collapse;
}
tr {
	border-collapse: collapse;
}
.navigation-button, input {
	display: block;
	font-size: 3em;
	margin-right: auto;
	margin-left: auto;
	width: 75vw;
	min-height: 10vh;
	padding: 0.5em;
}
button:hover {
	background: darkred;
	color: white;
}
body {
	width: 100vw;
}
tr[class=very-dangerous] {
	background-color: darkred !important;
	color: lightcyan;
}
.link-button {
	margin-left: auto;
	margin-right: auto;
	color: black;
	font-size: 2em;
	background: #333;
	border: 1px solid black;
}
