body{
	background: #b0c4de;
	margin: 0;
}
.named {
	font-family: 'IBM Courier', Monospace;
	font-size: 2.5em;
	border-collapse: collapse;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 11%;
}
#qr-reader{
	margin-left: auto;
	margin-right: auto;
	font-size: 2em;
}
#html5-qrcode-element{
	font-size: 2em;
}
.extras {
	font-size: 0.5em;
	border-collapse: collapse;
}
td {
	padding: 0.4em;
}
th {
font-weight: bold;
border: 5px solid#b0c4de;
border-collapse: collapse;


}
tr:nth-child(odd){
	background: white;
}
tr:nth-child(even){
	background: #f2f2f2;
}
td {
	border: 5px solid#b0c4de;
	border-collapse: collapse;
}
tr {
	border-collapse: collapse;
}

body {
	width: 100vw;
	width: auto;
}
#search-options input {
	font-size: 1em;
	width: auto;
	height: auto;
	display: inline;
	margin: auto;
}
#search-options label {
	font-size: 1.25em;
	width: auto;
}
tr[class=very-dangerous] {
	background-color: darkred !important;
	color: lightcyan;
}
tr[class=always-empty] {
	background-color: darkgoldenrod !important;
	background-color: darkslategray !important;
	color: lightcyan;
}
tr[class=good] {
	background-color: lightgreen;
	color: black;
}
tr[class=very-good] {
	background-color: darkgreen;
	color: white;
}
tr[class=too-much] {
	background: repeating-linear-gradient(-30deg, #600 0px 2px, #090 2px 4px, #009 4px 6px);
	font-weight: 700;
}
tr[class=too-much] td{
	color: white;
	mix-blend-mode: difference;
}
#search-options input {
	font-size: 1em;
	width: auto;
	height: auto;
	display: inline;
	margin: auto;
	min-height: 6vh;
}
#search-options label {
	font-size: 1.25em;
	width: auto;
}
.centered-container{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: max-content;
}
.link-button {
	color: black;
	font-size: 2em;
	background: #aaa;
	padding: 0.125em;
	border: 4px double black;
	border-radius: 0.25em;
	text-decoration: none;
}
.link-button:hover {
	background: darkgoldenrod;
	color: white;
}
.button-container{
	margin-top: 2%;
	align-self: center;
	position:absolute;
}
.btn{
	cursor: pointer;
}
.goback{
background-color: transparent;
border: transparent;
border-radius: 12px;
}
.goback:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	
}